<header>
  <div class="content">
    <div class="grid3 first">
      <h1>
        <a href="{{ site.url }}/">
          Style Hatch
        </a>
      </h1>
    </div>
    <nav class="grid6">
      <ul>
        <li {% if page.home %}class="current"{% endif %}>
          <a href="{{ site.url }}/">Home</a>
        </li>
        <li {% if page.themes %}class="current"{% endif %}>
          <a href="{{ site.url }}/themes">Themes</a>
        </li>
        <li {% if page.mission %}class="current"{% endif %}>
          <a href="{{ site.url }}/mission">Mission</a>
        </li>
        <li {% if page.forgood %}class="current"{% endif %}>
          <a href="{{ site.url }}/for-good">For Good</a>
        </li>
        <li {% if page.about %}class="current"{% endif %}>
          <a href="{{ site.url }}/about">About</a>
        </li>
        <li>
          <a href="http://blog.stylehatch.co">Blog</a>
        </li>
        <li {% if page.support %}class="current"{% endif %}>
          <a href="{{ site.url }}/support">Support</a>
        </li>
      </ul>
    </nav>
    <div class="clear"></div>
  </div>
</header>
