<header>
  <div class="content">
    <div class="grid3 first">
      <h1>
        <a href="{{ site.url }}/">
          Style Hatch
        </a>
      </h1>
    </div>
    <nav class="grid6">
      <ul>
        <li {% if page.home %}class="current"{% endif %}>
          <a href="{{ site.baseurl }}">Home</a>
        </li>
        <li class="{% if page.title == "Themes" %}current{% endif %}">
          <a href="{{ site.baseurl }}themes">Themes</a>
        </li>
        <li class="{% if page.title == "Our Mission" %}current{% endif %}">
          <a href="{{ site.baseurl }}mission">Mission</a>
        </li>
        <li class="{% if page.title == "For Good" %}current{% endif %}">
          <a href="{{ site.baseurl }}for-good">For Good</a>
        </li>
        <li class="{% if page.title == "About" %}current{% endif %}">
          <a href="{{ site.baseurl }}about">About</a>
        </li>
        <li>
          <a href="http://blog.stylehatch.co">Blog</a>
        </li>
        <li class="{% if page.title == "Need some help?" %}current{% endif %}">
          <a href="{{ site.baseurl }}support">Support</a>
        </li>
      </ul>
    </nav>
    <div class="clear"></div>
  </div>
</header>
