  <div class="related">
    <h3>Related Posts</h3>
    <p>A liquid loop to go through the category that also matches the page 'subcat' to only show posts related to current theme or category:</p>
    <ul>
    {% if page.category == 'support_themes' %}
      {% for post in site.categories.support_themes %}
        {% if post.subcat == page.subcat %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    {% else %}
      {% for post in site.posts %}
        {% if post.category == page.category %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    {% endif %}
    </ul>
  </div>